<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🏛МУЗЕЙ🏛</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}"/>
</head>
<body>
<header>
    <nav>
        <nav>
            <ul>
                <li><a th:href="@{../home}">Главная</a></li>
                <li><a th:href="@{../exhibit/add}">Добавить</a></li>
                <li><a th:href="@{../user/all}">Пользователи</a></li>
                <li><a th:href="@{../logout}">Выход</a></li>
            </ul>
        </nav>
    </nav>
</header>
    <main>
        <div class="container">
            <div class="name">Пусто!(404)</div>
        </div>
    </main>
</body>
</html>