<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>🏛МУЗЕЙ🏛</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}" />
    <script src="https://cdn.ckeditor.com/ckeditor5/41.3.1/classic/ckeditor.js"></script>

</head>
<body>
<header>
    <nav>
        <nav>
            <ul>
                <li><a th:href="@{../home}">Главная</a></li>
                <li><a th:href="@{../exhibit/all}">Экспонаты</a></li>
                <li><a th:href="@{../user/all}">Пользователи</a></li>
                <li><a th:href="@{../logout}">Выход</a></li>
            </ul>
        </nav>
    </nav>
</header>
<main>
    <article>
        <div class="container">
            <div class="img">
                <img th:src="@{${exhibit.getImage()}}" alt="image">
            </div>
            <div class="name" th:text="${exhibit.getName()}"></div>
        </div>

        <div th:text="${exhibit.getName()}"></div>
        <div th:utext="${exhibit.getDescription()}"></div>
        <table>
            <tr th:each="comment : ${comments}">
                <td colspan="2">
                    <div class="comment_user">
                        <div th:text="${comment.getUsername()}"></div>
                        <div th:text="${comment.getDate()}"></div>
                    </div>
                </td>
                <td colspan="7">
                    <div class="comment" th:utext="${comment.getText()}"></div>
                </td>
                <td>
                    <div><button class="bottom_delete"><a th:href="@{../comment/delete(id=${comment.getId()})}" th:text="@{Удалить}"></a></button></div>
                </td>
            </tr>
        </table>
    </article>
</main>
</body>
</html>