<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🏛МУЗЕЙ🏛</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}" />
</head>
<body>
<header>
    <nav>
        <nav>
            <ul>
                <li><a th:href="@{../home}">Главная</a></li>
                <li><a th:href="@{../exhibit/all}">Экспонаты</a></li>
                <li><a th:href="@{../logout}">Выход</a></li>
            </ul>
        </nav>
    </nav>
</header>
<main>
    <article>
        <table>
            <tr th:each="user : ${users}">
                <td colspan="7">
                    <div class="username" th:text="${user.getUsername()}"></div>
                </td>
                <td colspan="1">
                    <div class="div_bottom"><button class="bottom_delete"><a th:href="@{../user/delete(id=${user.getId()})}" th:text="@{Удалить}"></a></button></div>
                </td>
            </tr>
        </table>
    </article>
</main>
<footer></footer>
</body>
</html>