.ass {
    color: green;
    font-size: 22px;
}
table {
    border-collapse: collapse;
    /*убираем пустые промежутки между ячейками*/
    border: 1px solid grey;
    /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}
th {
    border: 1px solid grey;
}
td {
    border: 1px solid grey;
}
img{
    max-height: 100px;
    max-width: 100%;
}